<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>- easyshort -</h1>
	<p>Welcome to - easyshort -, yet another URL shortener developed in Ruby on Rails 4, type your URL, select private or public click in "Shorten Me" and you're DONE!</p>

	<p>
	<% unless user_signed_in? %>
		<%= link_to('Sign up!', new_user_registration_path, :class=>"btn btn-primary btn-lg") %> or try it as guest.
	<% else %>
		Remember to choose between public or private in your URL's
	<% end %>
	</p>
</div>

<%= render 'shared/new_link' %>


<div class="page-header">
	<h2><span class="label label-default">Top shortened URL's</span></h2>
</div>

 	<div class="row">
        <div class="col-lg-12">
          <table id="links" class="table table-bordered">
            <thead>
              <tr>
                <th width="20">#</th>
                <th>Shorten URL</th>
                <th>Original URL</th>
                <th width="50">Clicks</th>
                <th width="50">Copy</th>
              </tr>
            </thead>
            <tbody>
            <% top = 1 %>
            <% @top_links.each do |link| %>          
              <tr>
                <td><%= top %></td>
                <td><%= link.display_slug %></td>
                <td><%= truncate(link.given_url, length: 60) %></td>
                <td align="center"><span class="badge"><%= link.clicks %></span></td>
                <td align="center"><button type="button" class="btn btn-xs btn-success" title='Copy to Clipboard'>copy</button></td>
              </tr>
             <% top = top + 1 %>
            <% end %>
            </tbody>
          </table>
        </div>
   	</div>